<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629740749884-2eglhakeuasat18k2cagdqtbei6dkbo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629740749884-2eglhakeuasat18k2cagdqtbei6dkbo8</string>
	<key>API_KEY</key>
	<string>AIzaSyCu1OBQQw9_uYSCVgb_TECUUfe4B9zjdcA</string>
	<key>GCM_SENDER_ID</key>
	<string>629740749884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>orgIdentifier.Spenderr</string>
	<key>PROJECT_ID</key>
	<string>spenderr-992aa</string>
	<key>STORAGE_BUCKET</key>
	<string>spenderr-992aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629740749884:ios:19af6311d4d7758680af39</string>
</dict>
</plist>